#block-geospatial-semantics-main-menu {
    display: inline-block;
}

#block-geospatial-semantics-search {
    display: inline-block;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
    color: #fff;
}