#block-geospatial-semantics-main-menu {
    display: inline-block;
}

#block-geospatial-semantics-search {
    display: inline-block;
}

nav.navbar a:link,
nav.navbar a:visited,
nav.navbar a:hover,
nav.navbar a:active {
    color: #fff;
}